body{
	background-image: url(http://cdn.shopify.com/s/files/1/0227/2953/files/Aviation-UnmarkedJet_resized02.jpg?11654799975116125852);
	text-align: center;
}

.text-muted{
	color:red;
}
.last-seconds{
  color: red;
}
.option{
  margin: 15px;
}